<!DOCTYPE html>
{% load static %}

<html>
<title> KATO </title>
<head> 
    <p
    style=
    "font-size: 50px; 
    font-family: Impact, Haettenschweiler, sans-serif;
    color:yellow;
    background-color: orange;
    text-align: center;"
    > KATO KATAMORI </p>
    
</head>


<body style = "background-color: rgb(255, 205, 111);">

    <p
    style = 
    "font-size: 20px;
    font-family: Impact, Haettenschweiler, sans-serif;
    color: rgb(69, 69, 208);
    background-color: rgb(115, 110, 255);
    text-align: center;"
    >velvet</p>

    
   
    {% load static %}   
    <img src="{%static 'Images\velvet.jpeg'%}" alt="Velvet no carga XD" 
    width="500" height="500">

    
</body>
</html>